<div class="login-failed-container">
  <h2>Login failed.</h2>
  <p>The login data is incorrect or you do not have authorization for this area.
  </p>
  <button class="btn"><a href="/login"><i class="fas fa-undo"></i> Retry</a></button>
</div>