.show-job-container {
  padding: 40px 45px;
  background-color: #ddf7fd;
  min-height: 630px;
  width: 100%;
}

h2 {
  font-family: 'Quicksand', sans-serif;
  font-weight: bold;
  color: #1A3E57;
  margin: 10px 20px 10px;
}

/* .loeschbutton {
  color: red;
  padding: 0 5px 2px;
  margin: 0px;
  background-color: transparent;
  border-style: none;
  font-weight: bold;
  font-size: large;
} */

#job {
  list-style: none;
  padding: 0;
  margin: 0;
  color: #1A3E57;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.job-input {
  list-style: none;
  padding: 0;
  margin: 15px;
}

.job-position {
  font-weight: bold;
}

.job-timespan {
  position: relative;
  padding-bottom: 15px;
}

.job-timespan:after {
  display: block;
  content: '';
  width: 100%;
  height: 1px;
  background: #1a476c;
  position: absolute;
  bottom: 0;
  left: 0;
}

.job-list-entry:hover .job-timespan:after {
  background: white;
  transition: .3s all ease-in-out;
}

.job-list-entry {
  background-color: white;
  box-shadow: 0px 0px 5px #849ec9;
  min-height: 330px;
  max-width: 324px;
  margin: 30px 15px;
  padding: 15px;
  border-radius: 10px;
}

.job-list-entry:hover {
  background-color: #1a476c;
  color: white;
  box-shadow: none;
  transition: .3s all ease-in-out;
}

.delete-button {
  border-style: solid;
  border-color: transparent;
  background-color: transparent;
  padding: 2px;
  margin: 5px 0 0 15px;
  color: #b46ba9;
  transition: .3s all ease-in-out;
}

.job-list-entry:hover .delete-button {
  color: #b1e1d6;
}

.text-input {
  max-width: 250px;
  margin-top: 15px;
}

.new-job {
  text-decoration: none;
  color: #b46ba9;
  margin: 10px 20px 0;
  padding-bottom: 100px;
}

.new-job:hover {
  color: #1a476c;
}

@media screen and (max-width: 1050px) {
  .show-job-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}